<h1 id="title"><%= @chalet.name %></h1>
<div class="main-container">
  <% if current_user %>
    <h4 class="booking-title">Add a Booking</h4>
  <% else %>
    <h4 class="booking-title">Bookings</h4>
  <% end %>
  <div id="calendar-form" data-bookings="<%= @bookings.to_json %>">
    <%= simple_form_for [@chalet, @booking] do |f| %>
      <%= f.input :start_date, as: :string, label: false, input_html: { id: "start-date", class: "d-none" }  %>
      <%= f.input :end_date, as: :string, label: false, input_html: { id: "end-date", class: "d-none" } %>
      <div class="position-relative clear-dates-container" style="height: 32px">
        <a id="cancel-dates-btn">Clear Dates X</a>
      </div>
      <% if current_user %>
        <%= f.input :name, label: false, placeholder: "Name" %>
        <%= f.submit "Submit Booking", class: "btn btn-flat btn-block", id: "submit-btn" %>
      <% end %>
    <% end %>
  </div>
  <% if current_user %>
    <% if @chalet.bookings %>
      <h4 class="booking-title">Bookings</h4>
      <div class="bookings-box">
        <ul class="booking-list">
          <% @bookings.each do |booking| %>
            <div class="d-flex justify-content-around">
              <p class="booking"><%= booking.start_date.strftime("%d/%m/%Y") %> to <%= booking.end_date.strftime("%d/%m/%Y") %>
              </p>
              <%= link_to booking_path(booking),
              method: :delete,
              data: {confirm: "Are you sure?" } do %>
              <i class="fas fa-trash"></i>
              <% end %>
            </div>
          <% end %>
        </ul>
      </div>
    <% end %>
  <% end %>
</div>
